@font-face {
    font-family: 'Neue Haas Unica Pro';
    src: url('../fonts/NeueHaasUnicaPro-Regular.woff2') format('woff2'),
        url('../fonts/NeueHaasUnicaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
