/*================ Site Header ================*/
.site-logo {
  display: block;
}

.tagline {
  text-align: center;
  margin: auto;
  position: relative;
  margin-top: 20%;

}

.site-nav {

padding: 0;
opacity: 0;
transition: all 0.2s ease;
height: 35px;
z-index: 999;
position: fixed;
top: 125px;
left: 0;
right: 0;
bottom: 0;

display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
justify-content: center;
}

.stick {
  opacity: 1;
  transition: all 0.5s ease;
}



ul.site-nav li {

  float: left;
  position: relative;
  padding: 10px;
  list-style-type: none;

}

#stickyTrigger {
margin-bottom: 0%;
position: relative;
}



/*================ Mobile ================*/


#menuToggle {
  display: block;
  position: fixed;
  top: 5%;
  right: 5%;
  opacity: 0;

  z-index: 1;

  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 27px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;

  background: #fff;
  border-radius: 0px;

  z-index: 1;

  -webkit-transform-origin: 4px 0px;

          transform-origin: 4px 0px;

  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
    -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}


#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}


#menu {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  margin: 0;
  padding: 50px;

  background: #000000b5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  -webkit-transform-origin: 0% 0%;

          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);

  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}


#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}




  .hideLogo {
    opacity: 1;
    transition: all 0.5s ease;
  }



@media only screen and (max-width: 768px)  {

  #menuToggle {
    opacity: 1;
    transition: all 0.2s ease;

    span {

    }

    li {
      display: block;
      clear: both;
    }
  }
  .site-nav li {
    display: none;
  }

  .hideLogo {
    opacity: 0;
    transition: all 0.5s ease;
  }


}


/*======== Menu background effect =========== */

.bgImage {
  position: absolute;

background-size: cover;
background-position: top;
  -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
  z-index: -1;
}

.blobCont {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}


@for $i from 1 through 3 {
   $a : #{$i*90};
   $b : #{$i*90+360};

  .blob:nth-child(#{$i}) {
      animation: move#{$i} 25s infinite linear;
  }

  @keyframes move#{$i} {
    from {
      transform:rotate(#{$a}deg) translate( 200px ,0.1px) rotate(-#{$a}deg);
    }
    to {
      transform:rotate(#{$b}deg) translate( 200px ,0.1px) rotate(-#{$b}deg);
    }
  }

  }
