/*================ Site Header ================*/
.site-logo {
  display: block;
}

.tagline {
  text-align: center;
  margin: auto;
  position: relative;
  display: none;
}

.site-nav {

padding: 0;
opacity: 0;
transition: all 0.2s ease;

position: fixed;
top: 125px;
left: 0;
right: 0;
bottom: 0;

display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
justify-content: center;
}

.stick {
  opacity: 1;
  transition: all 0.5s ease;
}



ul.site-nav li {

  float: left;
  position: relative;
  padding: 10px;
  list-style-type: none;

}

#stickyTrigger {
margin-bottom: 20%;
position: relative;
}
