.video-container {
max-width: 85%;
margin: auto;
display: block;
margin-top: 20%;
}


.plyr--full-ui.plyr--video .plyr__control--overlaid {
    display: none;
}

.plyr--video {
    overflow: hidden;
    cursor: pointer;
}
